<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <div id='image'><img src="./assets/winnovator.svg" alt="" /></div>
    <ion-card-content class="qrWindow">
      <app-qrscan></app-qrscan>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Links</ion-label>
    </ion-list-header>
    <ion-item href="https://windesheim.nl">
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>Windesheim</ion-label>
    </ion-item>
  </ion-list>
</ion-content>