<ion-header>
</ion-header>

<ion-content class="ion-padding">
  <h2>Take a photo or use the gallery</h2>
  <Div>Make the photo in landscape</Div>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="openPWAPhotoPicker()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div *ngIf="imgURI != null">
    <img [src]="imgURI" #imageSrc style="width: 200px;" alt="picture">
  </div>

  <div id="pwa" class="col-lg-8 col-xs-8">
    <input type="file" id="pwaphoto" #pwaphoto accept="image/x-png,image/jpeg" (change)="uploadPWA()">
  </div>
  <div>{{uploadStatus}}</div>
</ion-content>