#pwa input[type=file] {
    display:none;
    margin:10px;
    }

    #pwa input[type=file] + label {
    display:inline-block;
    margin:20px;
    padding: 4px 32px;
    background-color: #FFFFFF;
    border:solid 1px #666F77;
    border-radius: 6px;
    color:#666F77;
    }

    #pwa input[type=file]:active + label {
    background-image: none;
    background-color:#2D6C7A;
    color:#FFFFFF;
    }

    .uploadSection{
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
    }

    .uploadedImage{
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-height: 30%;
        max-width: 30%;
    }
    
