<div *ngIf="sessionName" id='title'>
  <h2>Sessie: {{ sessionName }}</h2>
</div>

<div class='camera'>
  <div *ngIf="availableDevices">
    <select (change)="onDeviceSelectChange($event.target.value)">
      <option value="" [selected]="!selectedDevice">Scan QR Code</option>
      <option *ngFor="let device of availableDevices" [value]="device.deviceId"
        [selected]="selectedDevice && device.deviceId === selectedDevice.deviceId">{{ device.label }}</option>
    </select>
  </div>

  <div [hidden]="selectedDevice && hasPermission === true">
    <img class="scanImage" src="./assets/qr-code-scan-icon.jpg" alt="" />
  </div>
  <div [hidden]="!hasCameras || qrResultString">
    <zxing-scanner #scan class="scanner" start="true" [enable]="scannerEnabled" [device]="selectedDevice" (scanSuccess)="handleQrCodeResult($event)"></zxing-scanner>
  </div>
  <div *ngIf="!hasCameras && hasPermission === true">
    <h2>Je toestel heeft geen camera(s) of deze kunnen niet gevonden worden</h2>
  </div>
  <div *ngIf="hasPermission === undefined">
    <h2>Wacht op toestemming. Als je toestel geen camera(s) heeft, wordt er ook geen toestemming gevraagd.</h2>
  </div>
  <div *ngIf="hasPermission === false">
    <h2>je gaf geen toestemming voor gebruik van de camera, we kunnen niet scannen zonder toestemming. 😪</h2>
  </div>
  </div>